# Ignore Python cache

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Streamlit secrets
.streamlit/secrets.toml

# Jupyter (optional)
.ipynb_checkpoints/

# VS Code or other editors
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

